[submodule "sadx-mod-loader"]
	path = sadx-mod-loader
	url = https://github.com/sonicretro/sadx-mod-loader.git
[submodule "DirectXTK"]
	path = DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
